@using Microsoft.AspNetCore.Identity;
@model Dictionary<string, List<IdentityUser>>

@{
    ViewData["Title"] = "Users";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">User name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
        </tr>
    <tbody>
        @{
            int i = 1;
            foreach (var item in Model)
            {
                foreach (var user in item.Value)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>@item.Key</td>
                    </tr>
                    i += 1;
                }
            }
        }
    </tbody>
</table>
